extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Kirjautuminen onnistui. Syötä henkilötunnus ja aikaväli katsellaksesi lokitietoja

        form(method='GET')
          div.form-group
            label(for='name') Henkilötunnus:
            input#name.form-control(type='text', name='ssn')
            div.form-group
            label(for='name') Alkamispäivä:
            input#name.form-control(type='text', name='alkamispaiva')
            div.form-group
            label(for='name') Loppupäivä:
            input#name.form-control(type='text', name='loppupaiva')
            
          button.btn.btn-primary(type='submit') Hae lokitiedot