extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Käyttäjä luotu onnistuneesti

            
          button.btn.btn-primary(type='submit') Luo uusi käyttäjä
          button.btn.btn-primary(type='submit') Palaa etusivulle